# might container github oauth-token
.config/hub
# too large and probably not worth storing
.config/yarn/
# for containing files from git clone
libraries/
# constantly updates
.config/configstore/update-notifier-npm.json
